:root {
    --black: #2B353F;
    --blue: #38B6FF;
    --grey: #6D7D8B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F7FA;
    font-family: "Poppins";
}

p {
    font-size: 14px;
    color: var(--grey);
}




/********* General *********/
.container {
    margin-left: 30px;
    margin-right: 30px;
}

/********* Navbar *********/
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.logo-img {
    width: 80px;
}

.nav-menu {
    display: flex;
}

.desktop-li {
    list-style: none;
    padding-left: 20px;
}

.desktop-a {
    text-decoration: none;
    color: var(--black);
    font-family: 'Poppins';
}

.nav-button {
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    padding: 10px 14px;
}

.desktop-a:hover {
    opacity: 80%;
}